<div class="container">
  <div class="row">
    <div class="col-sm deschidere">
      <p>Pentru a deschide un cont nou, completati formularul de mai jos urmand ca un consultant Interfinbrok sa va 
        contacteze.
      </p>
      <mat-card>
        <mat-card-title>Deschidere cont</mat-card-title>
        <mat-card-content>
          <form (ngSubmit)="onSubmit()" #f="ngForm">
              <mat-form-field class="semi-width">
                  <input type="text" name="nume" 
                   matInput placeholder="Nume" ngModel>
              </mat-form-field>
              <mat-form-field class="semi-width">
                  <input type="text" name="prenume"
                   matInput placeholder="Prenume" ngModel>
              </mat-form-field>
            <mat-form-field class="semi-width">
              <input type="email" name="email" 
               matInput placeholder="Email" ngModel>
            </mat-form-field>
            <mat-form-field class="full-width">
              <textarea name="address"
               matInput placeholder="Address" ngModel></textarea>
            </mat-form-field>
            <mat-form-field class="semi-width">
              <!-- <span matPrefix>+1</span> -->
              <input type="tel" name="telefon"
               matInput placeholder="Telefon" ngModel>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">Trimite</button>
          </form>
        </mat-card-content>
        <mat-card-actions>
      
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>