.footer {
    /* width: 1100px; */
    /* width: 100%;
    /* height: 250px; */
    /* height: 100%; */
    background-color: #E1F5FE;
    top:0;
    /* align-items:  center; */
    /* padding-left: 50px;
    padding-right: 50px; */
    /* padding-top: 30px; */
}

.t1 {
    background-color: red;
}

.t2 {
    background-color: blue;
}

.t3 {
    background-color: yellow;
}

.t4 {
    background-color: blueviolet;
}

.copyright{
    align-content: center;
}

/* .contact {
    margin:5px 5px 5px 0;
} */

.c1 {
    width: 100%;
    padding-top: 30px;
}

a {
    text-decoration: none;
}

.contact{
    list-style: none;
    padding:0;
    margin:0;
}

