<div fxLayout="column"  class="footer">
    <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex class="c1" fxLayoutAlign="center" >
                    <ul class="contact">
                        <li><a><strong>Contact</strong></a></li>
                        <li><a>Constanta</a></li>
                        <li><a>Str. Calarasi nr. 1 (Capitol)</a></li>
                        <li><a>Tel +40 241 63 90 71</a></li>
                        <li><a>Tel +40 341 40 10 10</a></li>
                        <li><a>Fax +40 241 54 78 29</a></li>
        
                    </ul>       
            </div>
            <div fxFlex class="c1" fxLayoutAlign="center">
                    <ul class="contact">
                        <li><a><strong>Despre noi</strong></a></li>
                        <li><a>Companie</a></li>
                        <li><a>Sucursale</a></li>
                    </ul>
              
            </div>
            <div fxFlex class="c1" fxLayoutAlign="center">
                    <ul class="contact">
                        <li><a><strong>Our Solutions</strong></a></li>
                        <li><a>Produse si servicii</a></li>
                        <li><a>Cercetare de investitii</a></li>
                    </ul>
        
                  
            </div>
            <div fxFlex class="c1" fxLayoutAlign="center">
                    <ul class="contact">
                        <li><a><strong>Legislatie</strong></a></li>
                        <li><a>Dividende</a></li>
                        <li><a>Impozit</a></li>
                        <li><a>Statistici</a></li>
                    </ul>
            </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex>
            <a href="http://www.bvb.ro" target="_blank"><img width="30px" src="../../../assets/images/bvb-transparent-mic.png"/></a>
            <a href="http://www.onpcsb.ro" target="_blank"><img width="30px" src="../../../assets/images/onpcsb.png" /></a>
            <img width="30px" height="30px" src="../../../assets/images/fatf.png" />
            <img width="30px" src="../../../assets/images/sigla-fci.png"/>
            <img width="30px" src="../../../assets/images/bnr-logo.jpg"/>
            <img width="30px" src="../../../assets/images/asf-logo.png" />
            <img width="30px" src="../../../assets/images/coe.png" />
        </div>
    </div>
    <div  fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex >
                <p class="mat-body-strong mat-body-2">
                        Copyright© Interfinbrok Corporation 2005-2019
                  </p>
        </div>
            
    </div>

</div>