.prezentare {
    width: 80%;
    margin:35px auto;
}

.prezentare-mobile{
    width: 95%;
    margin: 0 auto;
}

.prezentare-pic{
    width: 100%;
}

.bbb {
	color: #57656b;
}

.a2{
    background-color: bisque;
}

.b1 {
    /* background-color: blanchedalmond; */
}

.titlu {
    color: #00b0ff;
}

/* .b2 {
    background-color: yellowgreen;
} */

/* .c1{
    background-color: antiquewhite;
}

.c2 {
    background-color: yellowgreen;
}

.c3 {
    background-color: blanchedalmond;
} */