<div fxFlexFill>
        <img class="prezentare-pic" src="../../assets/images/office3.png">
</div>
<div fxLayout="column">
        <div fxLayoutAlign="center">
                <div class="a1" fxFlex="90%" fxLayout="column" >
                        <div class="b1" fxFlexOffset="50px">
                               <p class="mat-h4 bbb">
                                        Interfinbrok Corporation S.A. are sediul social in Constanta , urmand ca reteaua teritoriala
                                         sa fie extinsa si in alte orase mari din tara.<br/>
                                        Interfinbrok Corporation S.A. si-a consolidat pozitia pe piata de capital prin profesionalism,
                                         informarea corecta a clientilor, confidentialitate,
                                         executia prompta a ordinelor, protectia investitorilor si promovand afaceri in care interesul 
                                         clientilor are prioritate, sprijinindu-i in realizarea obiectivelor investitionale.
                               </p>
                        </div>
                        <div class="b2" fxLayout="row" fxFlexOffset="30px">
                                <div class="c1" fxFlex>
                                        <p class="mat-display-1 titlu">CUNOASTERE</p>
                                        <p class="mat-body bbb">
                                                Interfinbrok intelege nevoia clientilor de a 
                                                tranzactiona o varietate de clase de active.
                                                Toate serviciile sunt integrate total si putem oferi 
                                                o executie completa
                                        </p>
                                </div>
                                <div class="c2" fxFlex>
                                        <p class="mat-display-1 titlu">INDEPENDENTA</p>    
                                        <p class="mat-body bbb">
                                                Interfinbrok este o casa de brokeraj independenta
                                                care tranzactioneaza doar pentru clienti.
                                                Nu desfasuram tranzactionare in nume propriu
                                        </p> 
                                </div>
                                <div class="c3" fxFlex>
                                        <p class="mat-display-1 titlu">FOCUS PE CLIENTI</p>
                                        <p class="mat-body bbb">
                                                La Interfinbrok, nevoile clientilor sunt pe primul loc.
                                                Garantam un suport excelent din partea echipei noastre
                                                dedicate si experimentate, furnizand acces
                                                la piata si un sistem de tranzactionare de 
                                                ultima generatie
                                        </p>
                                </div>
                        </div>
                </div>
        </div>
</div>