<div fxFlexFill>
        <img class="prezentare-pic" src="../../assets/images/office2.png">
    </div>
<div fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="center" class="prezentare">
    <div fxFlex>
            <p class="mat-display-2">
                    Prezentare
            </p>
            <p class="mat-body mat-body-1">
        Interfinbrok Corporation S.A. a fost fondata in anul 1995 ca societate de valori mobiliare. 
        In anul 2003, odata cu schimbarea legislatiei in domeniu, Interfinbrok Corporation S.A. a fost autorizata de CNVM, prin Decizia nr.2000/01.07.2003, ca societate de servicii de investitii financiare. 
        Societatea are un capital social de 400.000 RON, este integral privata (avand un numar de 17 actionari - Stavrositu Iancu Adrian 97,7625%, altii 2,2375%) si dispune de un management performant, cu experienta recunoscuta pe piata de capital. 
        Interfinbrok Corporation este membru al Bursei de Valori Bucuresti (BVB), al Asociatiei Brokerilor si al Sibiu Stock Exchange (SIBEX).
        Interfinbrok Corporation S.A. este membru Sibiu Stock Exchange incepand din anul 2005. Ca membru al acestei burse, societatea ofera clientilor sai servicii de tranzactionare de instrumente derivate (contracte futures si options). In acest fel, clientii pot avea posibilitatea acoperirii riscurilor ce rezulta din cumpararea de actiuni de pe piata BVB, sau pot efectua speculatii cu contracte futures in vederea sporirii profiturilor.
        Interfinbrok Corporation S.A. are sediul social in Constanta , urmand ca reteaua teritoriala sa fie extinsa si in alte orase mari din tara.
        Interfinbrok Corporation S.A. si-a consolidat pozitia pe piata de capital prin profesionalism, informarea corecta a clientilor, confidentialitate, executia prompta a ordinelor, protectia investitorilor si promovand afaceri in care interesul clientilor are prioritate, sprijinindu-i in realizarea obiectivelor investitionale.
                </p>
    </div>
    <div fxFlex>
            <p class="mat-body mat-body-1">
        Interfinbrok Corporation S.A. ofera clientilor sai servicii profesionale, asigurand executarea tranzactiilor in conditii de confidentialitate, siguranta, rapiditate si costuri reduse.
          
        Contactand pe oricare dintre agentii de servicii de investitii financiare ai Interfinbrok Corporation, puteti obtine informatii despre companiile listate la Bursa de Valori Bucuresti si despre modalitatea in care puteti investi bani prin intermediul pietei de capital.
        
    </div>
    <div fxFlex>
        Serviciile oferite de catre Interfinbrok Corporation S.A. se 
        adreseaza urmatoarelor categorii de clienti: 
    </div>
    <div fxFlex>
        1. Investitori individuali sau institutionali, care doresc sa achizitioneze sau sa 
        vanda actiuni si/sau obligatiuni pe piata de capital romaneasca; <br/>
        2. Persoane fizice si juridice care doresc administrarea portofoliului propriu; <br/>
        3. Societati comerciale, interesate in: <br/>
        - Finantarea investitiilor prin emisiuni de obligatiuni corporatiste <br/>
        - Majorarea capitalului social prin oferta publica de actiuni<br/>
        - Investitii de portofoliu<br/>
        4. Persoane fizice si juridice care solicita reprezentare in Adunarea Generala a 
        Actionarilor, colectarea si plata dividendelor distribuite de societatile ai caror 
        actionari sunt;<br/>
        5. Administratii publice locale in vederea finantarii unor proiecte de investitii prin 
        emisiuni de obligatiuni municipale, comunale, etc.; <br/>
        6. Persoane fizice, posesoare a unor actiuni (cupoane) dobandite in cadrul Programului de 
        Privatizare in Masa si tranzactionate la BVB sau RASDAQ.<br/>
        
    </div>
    <div fxFlex>
        Interfinbrok Corporation S.A. <br/>
            ORC: J13/2725/2003<br/>
            Sediul central: 900590 CONSTANTA, Str. Calarasi nr.1, Romania<br/>
            Tel: +4 0241 63 90 71<br/>
            +4 0341 40 10 10<br/>
            Fax: +4 0241 54 78 29<br/>
            e-mail: office@interfinbrok.ro<br/>
    </div>
</div>
