<div class="container footer">
        <div class="row">
            <div class="col-sm">
                <p class="mat-h3 mat-subheading-2">Tranzactionare</p>
                <p class="mat-small mat-caption">Sistem de tranzactionare</p>
                <p class="mat-small mat-caption">Avantaje</p>
                <p class="mat-small mat-caption">Platforme</p>
            </div>
            <div class="col-sm">
                    <p class="mat-h3 mat-subheading-2">Piata de Capital</p>
                    <p class="mat-small mat-caption">Oferte publice</p>
                    <p class="mat-small mat-caption">Obiect de activitate</p>
            </div>
            <div class="col-sm">
                    <p class="mat-h3 mat-subheading-2">Ghid de investitii</p>
                    <p class="mat-small mat-caption">Glosar termeni</p>
                    <p class="mat-small mat-caption">Cum investim</p>
                    <p class="mat-small mat-caption">Avantaje si riscuri</p>
            </div>
            <div class="col-sm">
                    <p class="mat-h3 mat-subheading-2">Legislatie</p>
                    <p class="mat-small mat-caption">Dividende</p>
                    <p class="mat-small mat-caption">Impozit</p>
                    <p class="mat-small mat-caption">Statistici</p>
            </div>
        </div>
        <div class="d-flex justify-content-center">
                <p class="mat-small mat-caption">©Copyright 2018 Interfinbrok Corporation</p>
            </div>
</div>
