<div class="container-fluid footer">
        <div class="row">
            <div class="col-sm">
                <p class="mat-h3 mat-subheading-2">Contact</p>
                <p class="mat-small mat-caption contact">Constanta</p>
                <p class="mat-small mat-caption contact">Str. Calarasi nr. 1 (Capitol)</p>
                <p class="mat-small mat-caption contact">Tel +40 241 63 90 71</p>
                <p class="mat-small mat-caption contact">Tel +40 341 40 10 10</p>
                <p class="mat-small mat-caption contact">Fax +40 241 54 78 29</p>
            </div>
            <div class="col-sm">
                        <p class="mat-h3 mat-subheading-2">Despre noi</p>
                        <p class="mat-small mat-caption contact">Companie</p>
                        <p class="mat-small mat-caption contact">Sucursale</p>
            </div>
            <div class="col-sm">
                    <p class="mat-h3 mat-subheading-2">Our Solutions</p>
                    <p class="mat-small mat-caption contact">Produse si servicii</p>
                    <p class="mat-small mat-caption contact">Cercetare de investitii</p>
            </div>
            <div class="col-sm">
                    <p class="mat-h3 mat-subheading-2">Legislatie</p>
                    <p class="mat-small mat-caption contact">Dividende</p>
                    <p class="mat-small mat-caption contact">Impozit</p>
                    <p class="mat-small mat-caption contact">Statistici</p>
            </div>
        </div>
        <div class="d-flex justify-content-center">
                <p class="mat-small mat-caption">©Copyright 2018 Interfinbrok Corporation</p>
            </div>
</div>
