<div fxLayout="row" class="footer" fxLayoutAlign="center">
        <div class="c1"  fxLayoutAlign="center">
            <ul class="contact">
                <li><a><strong>Contact</strong></a></li>
                <li><a>Constanta</a></li>
                <li><a>Str. Calarasi nr. 1 (Capitol)</a></li>
                <li><a>Tel +40 241 63 90 71</a></li>
                <li><a>Tel +40 341 40 10 10</a></li>
                <li><a>Fax +40 241 54 78 29</a></li>

            </ul>
                <!-- Contact<br/>
               Constanta<br/>
                Str. Calarasi nr. 1 (Capitol)<br/>
                Tel +40 241 63 90 71<br/>
                Tel +40 341 40 10 10<br/>
                Fax +40 241 54 78 29<br/> -->
          
        </div>
        <div class="c1"  fxLayoutAlign="center">
                <ul class="contact">
                    <li><a><strong>Despre noi</strong></a></li>
                    <li><a>Companie</a></li>
                    <li><a>Sucursale</a></li>
                </ul>
          
        </div>
        <div class="c1"  fxLayoutAlign="center">
            <ul class="contact">
                <li><a><strong>Our Solutions</strong></a></li>
                <li><a>Produse si servicii</a></li>
                <li><a>Cercetare de investitii</a></li>
            </ul>

          
        </div>
        <div class="c1"  fxLayoutAlign="center">
            <ul class="contact">
                <li><a><strong>Legislatie</strong></a></li>
                <li><a>Dividende</a></li>
                <li><a>Impozit</a></li>
                <li><a>Statistici</a></li>
            </ul>
        </div>
</div>
