@import "~@angular-mdc/theme/material";

.demo-card {
    width: 350px;
  }

.rapoarte-card {
  width: 400px;
}

.rap-indiv {
  width: 100px;
}

.demo-card__media--16-9 {
  background-image: url(../assets/images/bull.jpg);
}

.casuta-2 {
  background-image: url(../assets/images/trading.jpg);
}

.casuta-3 {
  background-image: url(../assets/images/security.jpg);
}

.demo-card-article {
    padding: 16px;
    text-decoration: none;
    color: inherit;
  }
  
  .demo-card-article-group-heading {
    @include mdc-theme-prop(color, text-secondary-on-light);
  
    padding: 8px 16px;
  }
  
  .demo-card-article__title {
    margin: 0 0 4px 0;
  }

  .demo-card-article__snippet {
    @include mdc-theme-prop(color, text-secondary-on-light);
  
    margin: 0;
  }

  .demo-card-article-group-heading {
    @include mdc-theme-prop(color, text-secondary-on-light);
  
    padding: 8px 16px;
  }

  .demo-content {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px;
  }
  
  .demo-content--column {
    display: flex;
    flex-direction: column;
  }
  
  .demo-content--row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0 10px 0;
  }

  .stiri {
      margin-top:90px;
  }

  li {
    position: relative;
    display: inline-block;
    margin: 10px;
    color: grey;
  }

  li:after {
    content: "";
    position: absolute;
    left:0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width .3s ease-in-out;
  }
  li:hover:after {
    width: 100%;
  }

  li:hover {
      color: #ffffff;
  }