button:after {
    content: "";
    position: absolute;
    left:0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: black;
    transition: border-bottom-color 50ms linear 0s;
  }

  button:hover:after {
      width: 100%;
  }

  .galerie{
      height: 500px;
      background: url(src/assets/images/stock-market.jpg);
  }

  /* SLIDESHOW */
  
  /*----------------------------------------------   
--Banner
-----------------------------------------------  */
.sect-banner {
    /* margin-top: 80px; */
    display: table;
    width: 100%;
    margin: 80px 0 auto;
    /* margin: 0 auto; */
    text-align: center;
    /* height: 100vh; */
    height: 480px;
    color: rgba(255, 255, 255, 0.9);
    /*----------------------------------------------   
    -DEMO1: Unordered list
    -----------------------------------------------  */
    /*----------------------------------------------   
    -DEMO2: Banner bg
    -----------------------------------------------  */ }
    .sect-banner:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      /* height: 100%; */
      height: 480px;
      width: 100%;
      /* background: rgba(118, 144, 164, 0.4); */
      z-index: 0; 
    }
    .sect-banner .v-center {
      position: relative;
      z-index: 2; 
    }
    .sect-banner .v-center {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      z-index: 4;
      padding: 0 5%; 
    }
      .sect-banner .v-center h1 {
        -webkit-animation: fade-in ease-in-out 2s 0.5s both;
        -moz-animation: fade-in ease-in-out 2s 0.5s both;
        animation: fade-in ease-in-out 2s 0.5s both; 
    }
      .sect-banner .v-center p {
        font-size: 120%;
        -webkit-animation: fade-in ease-in-out 2s 1s both;
        -moz-animation: fade-in ease-in-out 2s 1s both;
        animation: fade-in ease-in-out 2s 1s both; 
    }
    .sect-banner ul.kf-slider li {
      /* height: 100% !important; */
      /* height: 60%; */
      height: 480px;
      width: 100%;
      /* width: 1100px; */
      left: 0;
      position: absolute;
      top: 64px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      z-index: 0;
      opacity: 0;
      -webkit-animation: fade-out 9s infinite both;
      -moz-animation: fade-out 9s infinite both;
      animation: fade-out 9s infinite both;
      background-image: url("../../assets/images/people.jpg"); }
      @media (min-width: 58em) {
        .sect-banner ul.kf-slider li {
          background-image: url("../../assets/images/people.jpg"); 
        } 
    }

    .sect-banner ul.kf-slider li:nth-child(2) {
      background-image: url("../../assets/images/stock-market.jpg");
      -webkit-animation-delay: 3s;
      -moz-animation-delay: 3s;
      animation-delay: 3s; }
      @media (min-width: 58em) {
        .sect-banner ul.kf-slider li:nth-child(2) {
          background-image: url("../../assets/images/stock-market.jpg"); 
        } 
    }

    .sect-banner ul.kf-slider li:nth-child(3) {
      background-image: url("../../assets/images/wall-street.jpg");
      -webkit-animation-delay: 6s;
      -moz-animation-delay: 6s;
      animation-delay: 6s; }
      @media (min-width: 58em) {
        .sect-banner ul.kf-slider li:nth-child(3) {
          background-image: url("../../assets/images/wall-street.jpg"); 
        } 
    }
    .sect-banner .banner-bg {
      /* height: 100% !important; */
      height: 480px;
      width: 100%;
      position: absolute;
      top: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      z-index: 0;
      background-image: url("../../assets/images/trading.jpg");
      -webkit-animation: slider-sm ease-in-out 30s both infinite;
      -moz-animation: slider-sm ease-in-out 30s both infinite;
      animation: slider-sm ease-in-out 30s both infinite; }
      @media (min-width: 58em) {
        .sect-banner .banner-bg {
          background-image: url("../../assets/images/trading.jpg");
          -webkit-animation: slider-lg ease-in-out 30s both infinite;
          -moz-animation: slider-lg ease-in-out 30s both infinite;
          animation: slider-lg ease-in-out 30s both infinite; 
        } 
    }


          @-webkit-keyframes fade-in {
            0% {
              opacity: 0; }
            100% {
              opacity: 1; } }
          @-moz-keyframes fade-in {
            0% {
              opacity: 0; }
            100% {
              opacity: 1; } }
          @keyframes fade-in {
            0% {
              opacity: 0; }
            100% {
              opacity: 1; } }
          /*----------------------------------------------   
          --Fade out for slider
          -----------------------------------------------  */
          @-webkit-keyframes fade-out {
            33% {
              opacity: 1; }
            66% {
              opacity: 0; } }
          @-moz-keyframes fade-out {
            33% {
              opacity: 1; }
            66% {
              opacity: 0; } }
          @keyframes fade-out {
            33% {
              opacity: 1; }
            66% {
              opacity: 0; } }
          /*----------------------------------------------   
          --Keyframes Slider - Sm
          -----------------------------------------------  */
          @-webkit-keyframes slider-sm {
            0% {
                background-image: url("../../assets/images/trading.jpg"); }
              33% {
                background-image: url("../../assets/images/security.jpg"); }
              66% {
                background-image: url("../../assets/images/bull.jpg"); }
              100% {
                background-image: url("../../assets/images/trading.jpg"); } }
          @-moz-keyframes slider-sm {
            0% {
                background-image: url("../../assets/images/trading.jpg"); }
              33% {
                background-image: url("../../assets/images/security.jpg"); }
              66% {
                background-image: url("../../assets/images/bull.jpg"); }
              100% {
                background-image: url("../../assets/images/trading.jpg"); } }
          @keyframes slider-sm {
            0% {
                background-image: url("../../assets/images/trading.jpg"); }
              33% {
                background-image: url("../../assets/images/security.jpg"); }
              66% {
                background-image: url("../../assets/images/bull.jpg"); }
              100% {
                background-image: url("../../assets/images/trading.jpg"); } }
          /*----------------------------------------------   
          --Keyframes Slider - Lg
          -----------------------------------------------  */
          @-webkit-keyframes slider-lg {
            0% {
                background-image: url("../../assets/images/trading.jpg"); }
              33% {
                background-image: url("../../assets/images/security.jpg"); }
              66% {
                background-image: url("../../assets/images/bull.jpg"); }
              100% {
                background-image: url("../../assets/images/trading.jpg"); } }
          @-moz-keyframes slider-lg {
            0% {
                background-image: url("../../assets/images/trading.jpg"); }
              33% {
                background-image: url("../../assets/images/security.jpg"); }
              66% {
                background-image: url("../../assets/images/bull.jpg"); }
              100% {
                background-image: url("../../assets/images/trading.jpg"); } }
          @keyframes slider-lg {
            0% {
                background-image: url("../../assets/images/trading.jpg"); }
              33% {
                background-image: url("../../assets/images/security.jpg"); }
              66% {
                background-image: url("../../assets/images/bull.jpg"); }
              100% {
                background-image: url("../../assets/images/trading.jpg"); } }

  .stiri-card {
      width: 100%;
      padding:25px;
      background-color: grey;
      /* height: 650px; */
  }

  .semi-titlu {
      padding-top: 15px;
  }

  .rapoarte {
      width: 350px;
  }

.casuta1 {
    width: 100%;
    padding:25px;
    /* height: 650px; */
    background-color: red;
}

.casuta2 {
    width: 100%;
    padding:25px;
    background-color: blue;
    /* height: 650px; */
    /* padding-right: 5px; */
}

.casuta3 {
    width: 350px;
}

.casute {
  padding: 10px;
}

.caseta-stiri {
  padding-top: 10px;
}