<div class="container">
  <div class="row">
    <section class="sect-banner">
      <ul class="kf-slider">
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="v-center">
          <h1>Tranzactioneaza online actiuni Romanesti si internationale</h1>
          <p>Rapiditate, siguranta, usurinta</p>	
      </div>
    </section>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-card class="stiri-card">
          <mat-card-header>
            <mat-card-title>Stiri</mat-card-title>
            <mat-card-subtitle>piata de capital</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content *ngFor="let s of stiri">
            <mat-divider></mat-divider>
            <p class="mat-h1 mat-headline semi-titlu">
              {{s.titlu}}
            </p>
            <p class="mat-body mat-body-1">
              {{s.continut}}
            </p>
            <!-- <mat-divider></mat-divider> -->
          </mat-card-content>
          <mat-card-actions>
            <mat-divider></mat-divider>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
  </div>
  <div class="col-sm">
      <div class="rapoarte">
          <mat-card class="rapoarte-card">
            <mat-card-title>Rapoarte Piata</mat-card-title>
            <mat-chip-list>
              <mat-chip (click)="pushGetZilnic()">zilnic</mat-chip>
              <mat-chip (click)="pushGetSaptamanal()">saptamanal</mat-chip>
              <mat-chip (click)="pushGetLunar()">lunar</mat-chip>
            </mat-chip-list>
            <mat-divider></mat-divider>
            <mat-card-content *ngFor="let raport of rapoarte">
              <h5>{{raport.titlu}} {{raport.data}}</h5>
              <p>{{raport.continut}}</p>
            </mat-card-content>
          </mat-card>
        </div>
  </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-card class="casuta1">
        <img mat-card-image src="../assets/images/trading.jpg">
        <mat-card-title>Platforma Arena-XT</mat-card-title>
        <mat-card-subtitle>furnizata de Bursa de Valori Bucuresti</mat-card-subtitle>
        <mat-card-content matRipple>Reprezinta solutia de platforma de brokeraj dezvoltata de specialistii BVB 
            pentru intermediari. Platforma dispune de toate functiile necesare unei firme 
            de brokeraj pentru operare pe piata de capital: sistem de gestiune ordine, 
            managementul portofoliilor clientilor, module de risk management pentru piata 
            la vedere si la termen, facilitati de tranzactionare prin internet pentru 
            clienti.
          </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm">
        <mat-card class="casuta2">
            <img mat-card-image src="../assets/images/bull.jpg">
            <mat-card-title>Platforma Arena-XT</mat-card-title>
            <mat-card-subtitle>furnizata de Bursa de Valori Bucuresti</mat-card-subtitle>
            <mat-card-content matRipple>Reprezinta solutia de platforma de brokeraj dezvoltata de specialistii BVB 
                pentru intermediari. Platforma dispune de toate functiile necesare unei firme 
                de brokeraj pentru operare pe piata de capital: sistem de gestiune ordine, 
                managementul portofoliilor clientilor, module de risk management pentru piata 
                la vedere si la termen, facilitati de tranzactionare prin internet pentru 
                clienti.
              </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm">
        <mat-card class="casuta3">
            <img mat-card-image src="../assets/images/bull.jpg">
            <mat-card-title>Platforma Arena-XT</mat-card-title>
            <mat-card-subtitle>furnizata de Bursa de Valori Bucuresti</mat-card-subtitle>
            <mat-card-content matRipple>Reprezinta solutia de platforma de brokeraj dezvoltata de specialistii BVB 
                pentru intermediari. Platforma dispune de toate functiile necesare unei firme 
                de brokeraj pentru operare pe piata de capital: sistem de gestiune ordine, 
                managementul portofoliilor clientilor, module de risk management pentru piata 
                la vedere si la termen, facilitati de tranzactionare prin internet pentru 
                clienti.
              </mat-card-content>
          </mat-card>
    </div>
  </div>
</div>