button:after {
    content: "";
    position: absolute;
    left:0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: black;
    transition: border-bottom-color 50ms linear 0s;
  }

  button:hover:after {
      width: 100%;
  }

  .galerie{
      height: 500px;
      background: url(src/assets/images/stock-market.jpg);
  }

  /* SLIDESHOW */
  
  /*----------------------------------------------   
--Banner
-----------------------------------------------  */
.test {
  width: 100%;
  height: 100%;
  
}

.test2 {
  width: 100%;
  background-image: url("../../assets/images/stokck-market2.png");
}

.v-center {
  position: relative;z-index: 2;
  vertical-align: middle;
  z-index: 4;
}


#slide-container {
	position: relative;
	max-width: 800px; /* responsiveness */
}

/* First element to be in block mode for responsiveness */
#slide-first-element {
	display: block; /* to get the dimensions set */
	width: 100%;
  /* height: auto; */
  max-height: 482px;
}

/* Other element to be in absolute position */
#slide-element-2,
#slide-element-3 {
	position: absolute;
  width: 100%;
  max-height: 482px;
	/* height: 100%; */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Style images */
.slide-image {
	width: 100%;
}

/* Style text */
.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
	/* bottom: 10px; */
	/* background-color: #0042b1bb; */
	color: white;
	width: 100%;
	text-align: center;
	font-size: 1.9rem;
}

/* Animation settings for individual elements */
/* For more images the animations have to be adjusted */
#slide-first-element {
	animation: fade-1 10s infinite;
	-webkit-animation: fade-1 10s infinite;
}

#slide-element-2 {
	animation: fade-2 10s infinite;
	-webkit-animation: fade-2 10s infinite;
}

#slide-element-3 {
	animation: fade-3 10s infinite;
	-webkit-animation: fade-3 10s infinite;
}

@keyframes fade-1 {
	0% {
		opacity: 1;
	}
	33% {
		opacity: 0;
	}
	66% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-2 {
	0% {
		opacity: 0;
	}
	33% {
		opacity: 1;
	}
	66% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-3 {
	0% {
		opacity: 0;
	}
	33% {
		opacity: 0;
	}
	66% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* example for a 4th slide */
@keyframes fade-4 {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

  .stiri-card {
      width: 100%;
      padding:25px;
      margin:0 auto;
      /* height: 650px; */
  }

  .semi-titlu {
      padding-top: 15px;
  }

  .rapoarte {
      width: 350px;
  }

.casuta1 {
    width: 100%;
    margin:0 auto;
    padding:25px;
    /* height: 650px; */
}

mat-card {
  height: 100%;
  max-width: 400px;
}

.casuta2 {
    width: 100%;
    padding:25px;
    margin:0 auto;
    /* height: 650px; */
    /* padding-right: 5px; */
}

.casuta3 {
    width: 350px;
}

.header-image1 {
  background-image: url("../../assets/images/trading.jpg");
  background-size: cover;
}

.header-image2 {
  background-image: url("../../assets/images/bull.jpg");
  background-size: cover;
}

.header-image3 {
  background-image: url("../../assets/images/bull-wall.jpg");
  background-size: cover;
}

.hasStyle{
  background-color: red;
}

.casute {
  padding: 10px;
}

.caseta-stiri {
  padding-top: 10px;
}

.prezentare-pic{
  width: 100%;
}
