<div class="container">
  <div class="row">
    <div class="col-sm-4 rapoarte">
        <mat-card>
            <img mat-card-image src="../../assets/images/analysis.jpg">
            <mat-card-title>Rapoarte Piata</mat-card-title>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="zilnic">
                <mat-button-toggle value="zilnic" (click)="pushGetZilnic()">zilnic</mat-button-toggle>
                <mat-button-toggle value="saptamanal" (click)="pushGetSaptamanal()">saptamanal</mat-button-toggle>
                <mat-button-toggle value="lunar" (click)="pushGetLunar()">lunar</mat-button-toggle>
              </mat-button-toggle-group>
            <mat-divider></mat-divider>
            <mat-card-content *ngFor="let raport of rapoarte">
              <h5 (click)="change(raport)">{{raport.titlu}}</h5>
              <div [innerHTML]="a(raport)"></div>
              <!-- <p><a>{{raport.contents}}</a></p> -->
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-8">
        <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
        <span>{{ page }} / {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
      <!-- <router-outlet></router-outlet> -->
      <pdf-viewer [src]="src"
   [show-all]="false"
    [page]="page"
    [zoom]="0.8"
    (after-load-complete)="afterLoadComplete($event)">
  </pdf-viewer>
    </div>
  </div>
</div>