.titlu {
    margin-top: 40px;
}

.casuta-stiri {
    /* margin-top:20px; */
    padding-top: 20px;
    /* align-items: center; */
    /* background-color: rgb(223, 215, 215); */
    /* width: 600px; */

}

.stire {
    width: 80%;
}

.st:hover {
    background-color: rgb(243, 239, 239);
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: black;
}

.active2{
    text-decoration: underline;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.outlet {
    /* margin-top: 20px; */
    /* width: 300px; */
    /* background-color: aqua; */
    padding: 20px;
}

.a {
    height: 40px;
    padding-top:  20px;
}

.active {
    color:white;
    background-color: rgb(76, 76, 248);
    /* height: 40px; */
    /* padding-top: 3px;
    padding-bottom: 3px; */
}

.menu {
    cursor: pointer;
    text-align:center;
    align-content: center;
    /* line-height: 50px; */
    height: 100px;
    padding-top: auto;
    padding-bottom: auto;

}

.app-is-mobile{
    /* background-color: red; */
    text-align: center;
    height: 50px;
}