<div class="container obiective">
  <div class="row">
    <div class="col-sm">
      <p class="mat-body-strong mat-body-2">
          Compania noastra isi focalizeaza eforturile pe urmatoarele OBIECTIVE: 
          - oferirea de servicii financiare la standarde inalte de calitate, folosind cea mai recenta tehnologie informationala;
          - onestitatea si buna credinta fata de clienti;
          - diversificarea serviciilor oferite, in vederea depasirii granitelor pietei financiare locale;
          - construirea unei pozitii importante in randul celor mai active societati de servicii de investitii financiare;
          - extinderea portofoliului de clienti.
            Avantajele colaborarii cu Interfinbrok Corporation SA:
   
            1. PROFESIONALISM si COMPETENTA                                                          
          Echipa noastra cuprinde specialisti in domenii diverse cum ar fi tranzactionare, analiza fundamentala, fonduri de investitii, instrumente derivate, legislatie care beneficiaza de experienta si cunosterea realitatilor pietei actuale de capital din Romania.
   
            2. EXPERIENTA
            Interfinbrok Corporation a fost fondata in 1995 si a avut o activitate dinamica de tranzactionare atat in cadrul BVB cat si in cadrul RASDAQ
   
            3. SERVICII DIVERSE
          Pe langa serviciile de intermediere a tranzactiilor cu actiuni si obligatiuni, Interfinbrok Corporation ofera si servicii de consultanta punand la dispozitia clientilor sai materiale, informatii si analize pentru o investitie optima in instrumente financiare si/sau fonduri de investitii.
   
            4. INOVATIE
          Asigurarea unui flux optim informatic si informational prin crearea portal-ului companiei astfel incat interfata societate – client sa functioneze in conditii de rapiditate, siguranta si costuri reduse (maximizarea beneficiilor pentru clienti).
   
            5. SIGURANTA SI SERIOZITATE
          Executarea tranzactiilor precum si a transferurilor de numerar sau actiuni in conditii de maxima confidentialitate, siguranta, operativitate si respectarea unui statut de transparenta si respect pe care noi il promovam in relatia cu clientii precum si adaptabilitatea permanenta la nevoile acestora.
   
            6. COSTURI REDUSE
          Pentru a veni in ajutorul tuturor celor care vor sa se implice activ pe piata de capital am introdus o suma minima de deschidere de cont mica (dand posibilitatea fiecaruia de a tranzactiona si de a se familiariza cu piata bursiera) si am introdus o grila de comisioane atractiva, adaptabila in functie de client si care sa implice costuri mici. 
          Vom prezenta permanent oferte speciale de servicii si proiecte noi astfel incat activitatea de tranzactionare sa fie interesanta si benefica.
      </p>
    </div>
  </div>
</div>