<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
    <div fxFlex=30%>
      <mat-card class="rapoarte" fxHide.lt-md>
        <img mat-card-image src="../../assets/images/analysis.jpg">
        <mat-card-title>Rapoarte Piata</mat-card-title>

        <mat-divider></mat-divider>
        <mat-card-content *ngFor="let raport of rapoarte">
          <p class="mat-body-strong mat-body-2">{{raport.titlu}}</p>
          <p class="mat-body mat-body-1">{{raport.continut}} 
            <i class="material-icons"
            (click)="change(raport)" >
              send
              </i></p>
          <div [innerHTML]="a(raport)"></div>
          <!-- <p><a>{{raport.contents}}</a></p> -->
        </mat-card-content>
        <mat-form-field>
            <input 
            matInput 
            [matDatepicker]="picker_start" 
            placeholder="Choose a date de inceput"
            [(ngModel)]="start" name="data_start">
            <mat-datepicker-toggle 
            matSuffix 
            [for]="picker_start">
            </mat-datepicker-toggle>
            <mat-datepicker #picker_start></mat-datepicker>
          </mat-form-field>
    
          <mat-form-field>
            <input 
            matInput 
            [matDatepicker]="picker_end" 
            placeholder="Choose a date de sfarsit"
            [(ngModel)]="end" name="data_end">
            <mat-datepicker-toggle 
            matSuffix 
            [for]="picker_end">
            </mat-datepicker-toggle>
            <mat-datepicker #picker_end></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="onSearch(start, end)">Search</button>
      </mat-card>
      <mat-card fxHide.gt-sm fxFlex="90%">
          
        <div fxLayout="row">
          <div class="left">
              <mat-card-title>Rapoarte Piata</mat-card-title>
              <img mat-card-md-image src="../../assets/images/analysis.jpg">   
          </div>        
          <div class="right">
            <mat-form-field>
                <input 
                matInput 
                [matDatepicker]="picker_start_m" 
                placeholder="Choose a date de inceput"
                [(ngModel)]="start_m" name="data_start">
                <mat-datepicker-toggle 
                matSuffix 
                [for]="picker_start_m">
                </mat-datepicker-toggle>
                <mat-datepicker touchUi #picker_start_m></mat-datepicker>
              </mat-form-field>
        
              <mat-form-field>
                <input 
                matInput 
                [matDatepicker]="picker_end_m" 
                placeholder="Choose a date de sfarsit"
                [(ngModel)]="end_m" name="data_end">
                <mat-datepicker-toggle 
                matSuffix 
                [for]="picker_end_m">
                </mat-datepicker-toggle>
                <mat-datepicker touchUi #picker_end_m></mat-datepicker>
              </mat-form-field>
              <button mat-raised-button color="primary"  (click)="onSearch(start_m, end_m)">Search</button>
          </div>
          
        </div>
          
          
          <div class="bottom" *ngFor="let raport of rapoarte">
              <p class="mat-body-strong mat-body-2">{{raport.titlu}}</p>
              <p class="mat-body mat-body-1">{{raport.continut}} <i class="material-icons"
                (click)="change(raport)" >
                  send
                  </i></p>
          </div>
      </mat-card>
      
    </div>
    <div fxFlex="70%" fxLayout="column">
      <div class="butoane">
          <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
          <span>{{ page }} / {{ totalPages }}</span>
          <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
      </div>
      <div>
          <pdf-viewer [src]="src"
          [show-all]="false"
          [page]="page"
          [zoom]="media.isActive('lt-md') ? 0.42 : 0.8"
          (after-load-complete)="afterLoadComplete($event)">
          </pdf-viewer>
      </div>
    
  
    </div>
  </div>
          
        
    <!-- <mat-form-field>
        <input 
        matInput 
        [matDatepicker]="picker" 
        placeholder="Choose a date"
        [(ngModel)]="val" name="data">
        <mat-datepicker-toggle 
        matSuffix 
        [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button (click)="onTest(val)">PUSH</button> -->


      
