

mat-sidenav {
    width: 190px;
    background-color: aliceblue;
    /* height: 250px; */
}


  .mat-sidenav-container {
    background-color: rgb(255, 255, 255) !important;
    /* height: 100vh; */
  }


    .mat-drawer-container,
    .mat-drawer {
      padding-top: 56px;
    }
  