
<!-- aici sta deasupra sidenav  -->
<app-header (sidenavToggle)="sidenav.toggle()"></app-header>
<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <mat-nav-list>
            <mat-list-item>
                home
            </mat-list-item>
            <mat-list-item>
                    about
                </mat-list-item>
                <mat-list-item>
                        contact
                    </mat-list-item>
                    <mat-list-item>
                            despre
                        </mat-list-item>
                        <mat-list-item>
                                home
                            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
            <!-- aici sta in interiorul sidenav -->
            <!-- <app-header (sidenavToggle)="sidenav.toggle()"></app-header> -->
            <main>
                <router-outlet></router-outlet>
            </main>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>