<div fxLayout="column" fxLayoutGap="30px">
    <div class="slide-container">
        <div id="slide-first-element">
            <img class="slide-image" src="../../assets/images/people2.png">
        </div>
        <div id="slide-element-2">
            <img class="slide-image" src="../../assets/images/stokck-market2.png">
        </div>
        <div id="slide-element-3">
            <img class="slide-image" src="../../assets/images/wall-street2.png">
        </div>
    </div>

    <!-- varianta veche -->

    <!-- <div fxLayout="row" fxLayoutGap="40px"  fxLayout.lt-sm="column" fxLayoutGap.lt-md="20px" 
    class="casute"> -->

    <!-- varianta noua -->
    <div fxLayoutAlign="center" >
        <div fxFlex="80%" fxLayoutGap="40px" fxLayout="row" >
                <mat-card class="casuta1" fxFlex matRipple
                [ngStyle.lt-sm]="{'width.%': 100}">  
                    <div fxHide.gt-xs mat-card-avatar class="header-image1"></div> 
                    <img fxHide.lt-sm mat-card-image src="../assets/images/trading.jpg">
                    <mat-card-title class="bbb">Platforma Arena-XT</mat-card-title>
                            <mat-card-subtitle>furnizata de Bursa de Valori Bucuresti</mat-card-subtitle>
                            <i class="material-icons">
                                computer
                                </i>
                                <i class="material-icons">
                                    smartphone
                                    </i>
                                    <i class="material-icons">
                                        tablet
                                        </i>
                                <p class="mat-body mat-body-1 bbb">Reprezinta solutia de platforma de brokeraj dezvoltata de specialistii BVB 
                                pentru intermediari. Platforma dispune de toate functiile necesare unei firme 
                                de brokeraj pentru operare pe piata de capital: sistem de gestiune ordine, 
                                managementul portofoliilor clientilor, module de risk manage
                                </p>
                              <mat-card-actions>
                                  <button mat-raised-button color="primary">Detalii</button>
                              </mat-card-actions>
                </mat-card>
                <mat-card class="casuta2" fxFlex 
                [ngStyle.lt-sm]="{'width.%': 100}">
                        <div fxHide.gt-xs mat-card-avatar class="header-image2"></div>
                        <img fxHide.lt-sm mat-card-image src="../assets/images/bull.jpg">
                        <mat-card-title class="bbb">Platforma Arena-XT</mat-card-title>
                        <mat-card-subtitle>furnizata de Bursa de Valori Bucuresti</mat-card-subtitle>
                        <i class="material-icons">
                                done
                                </i>
                        <p class="mat-body mat-body-1 bbb">
                                Reprezinta solutia de platforma de brokeraj dezvoltata de specialistii BVB 
                                pentru intermediari. Platforma dispune de toate functiile necesare unei firme 
                                de brokeraj pentru operare pe piata de capital: sistem de gestiune ordine, 
                                managementul portofoliilor clientilor, module de risk manage
                        </p>
                          <mat-card-actions>
                              <button mat-raised-button color="primary">Detalii</button>
                          </mat-card-actions>
                </mat-card>
                <mat-card class="stiri-card" fxFlex
                [ngStyle.lt-sm]="{'width.%': 100}">
                        <div fxHide.gt-xs mat-card-avatar class="header-image3"></div>
                        <img fxHide.lt-sm mat-card-image src="../../assets/images/bull-wall.jpg">
                            <mat-card-title class="mat-display-1 bbb">Stiri</mat-card-title>
                            <mat-card-subtitle>interne si internationale din piata de capital</mat-card-subtitle>
                              <mat-divider></mat-divider>
                              <div class="caseta-stiri" *ngFor="let s of stiri">
                                    <div class="stire mat-body mat-body-1 bbb">
                                            <a (click)="onGoTo(s)">
                                                    {{s.titlu}}
                                                </a>
                                    </div>
    
                              </div>
                              <button mat-raised-button color="primary"
                              routerLink="/profil/stiri">Mai multe</button>
    
                </mat-card>
        </div>
    </div>
    <div fxLayoutAlign="center">
            <div fxLayoutAlign="center" class="ttt" fxFlex="80%">
                    <p class="mat-display-2 bbb v">Valorile noastre</p>
            </div>      
    </div>
    <div fxLayoutAlign="center">
        <div fxFlex="80%">
                <div class="v1" fxLayoutAlign="center center" fxFlex fxLayout="column" >
                        <img src="../../../assets/images/excellence.png" width="80" height="85">
                        <p class="mat-h2 mat-title bbb" color="primary">
                            Excelenta
                        </p>
                        <p class="bbb">
                        Ne straduim sa fim cei mai buni in toate domeniile alese
                        </p>
                        
                </div>
                <div class="v2" fxLayoutAlign="center center" fxFlex fxLayout="column" >
                        <img src="../../../assets/images/client-oriented.png" width="80" height="85">
                        <p class="mat-h2 mat-title bbb" color="primary">
                            Orientati pe client
                        </p>
                        <p class="bbb">
                            Interesul clientului nostru trebuie sa fie mereu pe primul loc.
                        </p >
                </div>
                <div class="v3" fxLayoutAlign="center center" fxFlex fxLayout="column" >
                        <img src="../../../assets/images/independence.png" width="85" height="80">
                        <p class="mat-h2 mat-title bbb" color="primary">
                            Independenta
                        </p>
                        <p class="bbb">
                            Credem cu tarie in convingerile noastre chiar daca sunt diferite
                        </p>
                </div>
                <div class="v4" fxLayoutAlign="center center" fxFlex fxLayout="column" >
                        <img src="../../../assets/images/originality.jpg" width="85" height="80">
                        <p class="mat-h2 mat-title bbb" color="primary">
                            Originalitate
                        </p>
                        <p class="bbb">
                            Scopul nostru este sa fim inovativi si sa producem valoare adaugata pentru
                        
                        </p>
                </div>
                <div class="v5" fxLayoutAlign="center center" fxFlex fxLayout="column" >
                        <img src="../../../assets/images/integrity.jpg" width="85" height="80">
                        <p class="mat-h2 mat-title bbb" color="primary">
                            Integritate
                        </p>
                        <p class="bbb">
                            Avem o conduita etica desavarsita de care putem fi mandri
                        </p>
                </div>
        </div>
    </div>   
</div>
        <!--<div fxLayout="row" fxLayoutGap="30px" >
                <div class="v1" fxLayoutAlign="center center" fxFlex fxLayout="column" >
                        <img src="../../../assets/images/excellence.png" width="80" height="85">
                        <p class="mat-h2 mat-title bbb" color="primary">
                            Excelenta
                        </p>
                        <p class="bbb">
                        Ne straduim sa fim cei mai buni in toate domeniile alese
                        </p>
                        
                </div>
                <div class="v2" fxLayoutAlign="center center" fxFlex fxLayout="column" >
                        <img src="../../../assets/images/client-oriented.png" width="80" height="85">
                        <p class="mat-h2 mat-title bbb" color="primary">
                            Orientati pe client
                        </p>
                        <p class="bbb">
                            Interesul clientului nostru trebuie sa fie mereu pe primul loc.
                        </p >
                </div>
                <div class="v3" fxLayoutAlign="center center" fxFlex fxLayout="column" >
                        <img src="../../../assets/images/independence.png" width="85" height="80">
                        <p class="mat-h2 mat-title bbb" color="primary">
                            Independenta
                        </p>
                        <p class="bbb">
                            Credem cu tarie in convingerile noastre chiar daca sunt diferite
                        </p>
                </div>
                <div class="v4" fxLayoutAlign="center center" fxFlex fxLayout="column" >
                        <img src="../../../assets/images/originality.jpg" width="85" height="80">
                        <p class="mat-h2 mat-title bbb" color="primary">
                            Originalitate
                        </p>
                        <p class="bbb">
                            Scopul nostru este sa fim inovativi si sa producem valoare adaugata pentru
                        
                        </p>
                </div>
                <div class="v5" fxLayoutAlign="center center" fxFlex fxLayout="column" >
                        <img src="../../../assets/images/integrity.jpg" width="85" height="80">
                        <p class="mat-h2 mat-title bbb" color="primary">
                            Integritate
                        </p>
                        <p class="bbb">
                            Avem o conduita etica desavarsita de care putem fi mandri
                        </p>
                </div>
        </div> -->
    <!-- </div>
</div> -->
    <!-- <div fxLayoutAlign="center">
        <div class="valori" fxFlex="80%" >
            <div fxLayoutAlign="center" >
                <p class="mat-h1 bbb">Valorile noastre</p>
            </div>
            <div fxLayout="row" fxLayoutGap="30px" >
                    <div class="v1" fxLayoutAlign="center center" fxFlex fxLayout="column" >
                            <img src="../../../assets/images/excellence.png" width="80" height="85">
                            <p class="mat-h2 mat-title bbb" color="primary">
                                Excelenta
                            </p>
                            <p class="bbb">
                            Ne straduim sa fim cei mai buni in toate domeniile alese
                            </p>
                            
                    </div>
                    <div class="v2" fxLayoutAlign="center center" fxFlex fxLayout="column" >
                            <img src="../../../assets/images/client-oriented.png" width="80" height="85">
                            <p class="mat-h2 mat-title bbb" color="primary">
                                Orientati pe client
                            </p>
                            <p class="bbb">
                                Interesul clientului nostru trebuie sa fie mereu pe primul loc.
                            </p >
                    </div>
                    <div class="v3" fxLayoutAlign="center center" fxFlex fxLayout="column" >
                            <img src="../../../assets/images/independence.png" width="85" height="80">
                            <p class="mat-h2 mat-title bbb" color="primary">
                                Independenta
                            </p>
                            <p class="bbb">
                                Credem cu tarie in convingerile noastre chiar daca sunt diferite
                            </p>
                    </div>
                    <div class="v4" fxLayoutAlign="center center" fxFlex fxLayout="column" >
                            <img src="../../../assets/images/originality.jpg" width="85" height="80">
                            <p class="mat-h2 mat-title bbb" color="primary">
                                Originalitate
                            </p>
                            <p class="bbb">
                                Scopul nostru este sa fim inovativi si sa producem valoare adaugata pentru
                            
                            </p>
                    </div>
                    <div class="v5" fxLayoutAlign="center center" fxFlex fxLayout="column" >
                            <img src="../../../assets/images/integrity.jpg" width="85" height="80">
                            <p class="mat-h2 mat-title bbb" color="primary">
                                Integritate
                            </p>
                            <p class="bbb">
                                Avem o conduita etica desavarsita de care putem fi mandri
                            </p>
                    </div>
            </div>
        </div>
    </div> -->
