<div fxLayout="column" fxLayoutGap="20px">
    <div class="slide-container">
        <div id="slide-first-element">
            <img class="slide-image" src="../../assets/images/people2.png">
        </div>
        <div id="slide-element-2">
            <img class="slide-image" src="../../assets/images/stokck-market2.png">
        </div>
        <div id="slide-element-3">
            <img class="slide-image" src="../../assets/images/wall-street2.png">
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="40px"  fxLayout.lt-sm="column" fxLayoutGap.lt-md="20px" 
    class="casute">
            <mat-card class="casuta1" fxFlex matRipple
            [ngStyle.lt-sm]="{'width.%': 100}">  
                <div fxHide.gt-xs mat-card-avatar class="header-image1"></div> 
                <img fxHide.lt-sm mat-card-image src="../assets/images/trading.jpg">
                <mat-card-title >Platforma Arena-XT</mat-card-title>
                        <mat-card-subtitle>furnizata de Bursa de Valori Bucuresti</mat-card-subtitle>
                        <i class="material-icons">
                            computer
                            </i>
                            <i class="material-icons">
                                smartphone
                                </i>
                                <i class="material-icons">
                                    tablet
                                    </i>
                            <p class="mat-body mat-body-1">Reprezinta solutia de platforma de brokeraj dezvoltata de specialistii BVB 
                            pentru intermediari. Platforma dispune de toate functiile necesare unei firme 
                            de brokeraj pentru operare pe piata de capital: sistem de gestiune ordine, 
                            managementul portofoliilor clientilor, module de risk manage
                            </p>
                          <mat-card-actions>
                              <button mat-raised-button color="primary">Detalii</button>
                          </mat-card-actions>
            </mat-card>
            <mat-card class="casuta2" fxFlex 
            [ngStyle.lt-sm]="{'width.%': 100}">
                    <div fxHide.gt-xs mat-card-avatar class="header-image2"></div>
                    <img fxHide.lt-sm mat-card-image src="../assets/images/bull.jpg">
                    <mat-card-title>Platforma Arena-XT</mat-card-title>
                    <mat-card-subtitle>furnizata de Bursa de Valori Bucuresti</mat-card-subtitle>
                    <i class="material-icons">
                            done
                            </i>
                    <p class="mat-body mat-body-1">
                            Reprezinta solutia de platforma de brokeraj dezvoltata de specialistii BVB 
                            pentru intermediari. Platforma dispune de toate functiile necesare unei firme 
                            de brokeraj pentru operare pe piata de capital: sistem de gestiune ordine, 
                            managementul portofoliilor clientilor, module de risk manage
                    </p>
                      <mat-card-actions>
                          <button mat-raised-button color="primary">Detalii</button>
                      </mat-card-actions>
            </mat-card>
            <mat-card class="stiri-card" fxFlex
            [ngStyle.lt-sm]="{'width.%': 100}">
                    <div fxHide.gt-xs mat-card-avatar class="header-image3"></div>
                    <img fxHide.lt-sm mat-card-image src="../../assets/images/bull-wall.jpg">
                        <mat-card-title class="mat-display-1">Stiri</mat-card-title>
                        <mat-card-subtitle>interne si internationale din piata de capital</mat-card-subtitle>
                          <mat-divider></mat-divider>
                          <div class="caseta-stiri" *ngFor="let s of stiri">
                                <div class="stire mat-body mat-body-1">
                                        <a (click)="onGoTo(s)">
                                                {{s.titlu}}
                                            </a>
                                </div>

                          </div>
                          <button mat-raised-button color="primary"
                          routerLink="/profil/stiri">Mai multe</button>

            </mat-card>
    </div>
</div>