<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
  <div fxFlex=30%>
    <mat-card class="rapoarte" fxHide.lt-md>
      <img mat-card-image src="../../assets/images/analysis.jpg">
      <mat-card-title>Rapoarte Piata <i class="material-icons" routerLink="/profil/arhiva"
        matTooltip="Cauta in rapoarte"> 
          search
          </i>
      </mat-card-title>
      <br/>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="zilnic">
          <mat-button-toggle value="zilnic" (click)="pushGetZilnic()">zilnic</mat-button-toggle>
          <mat-button-toggle value="saptamanal" (click)="pushGetSaptamanal()">saptamanal</mat-button-toggle>
          <mat-button-toggle value="lunar" (click)="pushGetLunar()">lunar</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-divider></mat-divider>
      <mat-card-content *ngFor="let raport of rapoarte">
        <p class="mat-body-strong mat-body-2">{{raport.titlu}}</p>
        <p class="mat-body mat-body-1">{{raport.continut}} 
          <i class="material-icons"
          (click)="change(raport)" >
            send
            </i></p>
        <div [innerHTML]="a(raport)"></div>
        <!-- <p><a>{{raport.contents}}</a></p> -->
      </mat-card-content>
      <a routerLink="/profil/arhiva-veche"><button mat-stroked-button class="arhiva">Arhiva</button></a>
    </mat-card>
    <mat-card fxHide.gt-sm fxFlex="90%">
        
      <div fxLayout="row">
        <div class="left">
            <mat-card-title>Rapoarte Piata</mat-card-title>
            <img mat-card-md-image src="../../assets/images/analysis.jpg">   
        </div>        
        <div class="right">
            <mat-button-toggle-group vertical name="fontStyle" aria-label="Font Style" value="zilnic">
                <mat-button-toggle value="zilnic" (click)="pushGetZilnic()">zilnic</mat-button-toggle>
                <mat-button-toggle value="saptamanal" (click)="pushGetSaptamanal()">saptamanal</mat-button-toggle>
                <mat-button-toggle value="lunar" (click)="pushGetLunar()">lunar</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        
      </div>
        
        
        <div class="bottom" *ngFor="let raport of rapoarte">
            <p class="mat-body-strong mat-body-2">{{raport.titlu}}</p>
            <p class="mat-body mat-body-1">{{raport.continut}} <i class="material-icons"
              (click)="change(raport)" >
                send
                </i></p>
        </div>
    </mat-card>
    
  </div>
  <div fxFlex="70%" fxLayout="column">
    <div class="butoane">
        <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
        <span>{{ page }} / {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
    </div>
    <div>
        <pdf-viewer [src]="src"
        [show-all]="false"
        [page]="page"
        [zoom]="media.isActive('lt-md') ? 0.42 : 0.8"
        (after-load-complete)="afterLoadComplete($event)">
        </pdf-viewer>
    </div>
  

  </div>
</div>
        
        
